Demo notebook for class 4 of TRIADS intro python, covering functions

# Functions

In [ ]:
# creating a function

def disciplines():
    print("English")
    print("History")
    print("Business")
    print("Biology")

In [ ]:
disciplines()

English
History
Business
Biology

In [5]:
food = ["bread", "milk", "eggs"]

In [11]:
#Parameters and arguments
#Print (print output) vs. return (save output to function)

def groceries(x):
    print(x)

In [6]:
# Return statement--stops the function and can be used to save output

def groceries2(x):
    return(x)

In [7]:
y = groceries2(food)
print(y)

['bread', 'milk', 'eggs']

In [8]:
#What happens if we don't use return, and try to save the output if a function to a variable?

z = groceries(food)
print(z)

NameError: name 'groceries' is not defined

In [9]:
y = groceries2(food)
print(y)

['bread', 'milk', 'eggs']

In [12]:
len(groceries(food))

['bread', 'milk', 'eggs']

TypeError: object of type 'NoneType' has no len()

In [13]:
#Function with numbers

def squares(x):
    print(x*x)
    return

In [14]:
numbers_2 = [15, 17, 19, 20]

for num in numbers_2:
    squares(num)

225
289
361
400

In [15]:
def square_list(y):
    for x in y:
        #print(x*x)
        return(x*x)

In [16]:
var = square_list(numbers_2)
print(var)

225

In [19]:
# To save multiple data from a function, use a variable inside the function to store the output data

def square_list(y):
    squares = []
    for x in y:
        squares.append(x*x)
    return(squares)

square_list(numbers_2)

[225, 289, 361, 400]

In [ ]:
#using multiple parameters

def introduction(name, department):
    print("My name is " + name +
           " and I work in the " + department + " department")

In [ ]:
j = introduction(name="Claudia", department="Data Science")
print(j)

My name is Claudia and I work in the Data Science department
None

**Exercise 1**

Given a list foods = [“eggs”, “bread”, “milk”, “cookies”]

Create a function to return all words in the list that are longer than 5 letters.

In [ ]:
foods = ["eggs", "bread", "milk", "cookies"]

def long_strings(x):
    for food in x:
        if len(food) >= 5:
            print(food)
    return

long_strings(foods)

bread
cookies

#Functions with file data

In [ ]:
import pandas as pd

df = pd.read_csv("gdp_africa.csv", index_col=0)

In [ ]:
#Basic function with a dataframe


def column_min(column):
    return(df[column].min())

In [ ]:
df.head()

,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

In [ ]:
print(column_min("1952"))

298.8462121

In [ ]:
#More complex function with a dataframe

def yearly_average(data):
    x = data.index.values
    for y in x:
        return(data.loc[x].mean())

In [ ]:
print(yearly_average(df))

1952    1252.572466
1957    1385.236062
1962    1598.078825
1967    2050.363801
1972    2339.615674
1977    2585.938508
1982    2481.592960
1987    2282.668991
1992    2281.810333
1997    2378.759555
2002    2599.385159
2007    3089.032605
dtype: float64

In [ ]:
def min_gdp(data):
    df = pd.read_csv(data, index_col=0)
    countries = df.index.values
    for country in countries:
        print(country, df.loc[country].min())
    return

In [ ]:
(min_gdp("gdp_africa.csv"))

Algeria 2449.008185
Angola 2277.140884
Benin 949.4990641
Botswana 851.2411407
Burkina Faso 543.2552413
Burundi 339.2964587
Cameroon 1172.667655
Central African Republic 706.016537
Chad 797.9081006
Comoros 986.1478792
Congo Dem. Rep. 241.1658765
Congo Rep. 2125.621418
Cote d'Ivoire 1388.594732
Djibouti 1895.016984
Egypt 1418.822445
Equatorial Guinea 375.6431231
Eritrea 328.9405571
Ethiopia 362.1462796
Gabon 4293.476475
Gambia 485.2306591
Ghana 847.0061135
Guinea 510.1964923
Guinea-Bissau 299.850319
Kenya 853.540919
Lesotho 298.8462121
Liberia 414.5073415
Libya 2387.54806
Madagascar 894.6370822
Malawi 369.1650802
Mali 452.3369807
Mauritania 743.1159097
Mauritius 1967.955707
Morocco 1566.353493
Mozambique 389.8761846
Namibia 2423.780443
Niger 580.3052092
Nigeria 1014.514104
Reunion 2718.885295
Rwanda 493.3238752
Sao Tome and Principe 860.7369026
Senegal 1367.899369
Sierra Leone 574.6481576
Somalia 882.0818218
South Africa 4725.295531
Sudan 1492.197043
Swaziland 1148.376626
Tanzania 698.5356073
Togo 859.8086567
Tunisia 1395.232468
Uganda 617.7244065
Zambia 1071.353818
Zimbabwe 406.8841148