Notebook demos for TRIADS intro python class 1, covering basic strings and variables, operators, indices and slices.

## **Demo 1: Hello World**
```

In [ ]:
print("Hello, World!")

In [ ]:
name = "Claudia"

In [ ]:
age = "32"

In [ ]:
print(name, "is", age, "years old")

In [ ]:
last_name = "Carroll"
print(last_name)

In [ ]:
print(last name)

In [ ]:
type(age)

In [ ]:
type(name)

In [ ]:
new_age = 55

In [ ]:
age = new_age

In [ ]:
print(age)

In [ ]:
type(age)

In [ ]:
name = input("What is your name? ")

print("Hello", name)

**Exercise 1**

Write the code to ask you how many years you have been at Wash U, and what department you work in. The output should be “Congratulations on working at the X department at Wash
U for Y years”.

In [ ]:
years = input("how many years have you worked at WashU? ")

department = input("what department do you work in? ")

print("Congratulations on working at the", department, "department at Wash U for", years, "years")

## **Demo 2: Operators, Indices and Slices**

In [ ]:
3 + 5

In [ ]:
12 - 10

In [ ]:
2 * 10

In [ ]:
15 / 3

In [ ]:
# Modulus (remainder):
15 % 4

In [ ]:
3 ** 2

In [ ]:
15 // 7

In [ ]:
(3+9)*2

In [ ]:
# Math with variables

age = 32

future_age = age + 5

print(future_age)

In [ ]:
# Updating variables with operators

price = 7

price = price + 2

print(price)

In [ ]:
# Concatenating strings with operators

full_name = "James " + "Walsh"

print(full_name)

In [ ]:
# Converting variable types

num = "2"
type(num)

In [ ]:
x = int(num)
type(x)

In [ ]:
y = str(x)
type(y)

In [ ]:
print(y)
type(y)

In [ ]:
a = 12.0
type(a)

In [ ]:
a = "12.0"
type(a)

In [ ]:
#a = float("12.0")
g = float(a)
print(g)

In [ ]:
print(a)

In [ ]:
print(name)

In [ ]:
name = "Claudia"
len(name)

In [ ]:
# Indices

print(name[0])

In [ ]:
print(name[-7])

In [ ]:
# Slices

print(name[-1:-2])

In [ ]:
# Lists

departments = ["music", "philosophy", "chemistry"]

In [ ]:
len(departments)

In [ ]:
print(departments[1])

In [ ]:
departments_2 = departments + ["computer science"]

print(departments_2)

**Exercise 2**

Create the following list to track your groceries and prices:

Groceries = [“apples”, “4”, “milk”, “5.9”, “bread”, “3”, “wine”, “15.5”]




1.   Use indices to list out only the food items
2.   Use mathematical operators to list the number of food items
3. Write the code to extract the prices from the list, calculate the total, then output the following statement: "The total cost of the groceries is $X"



**Hint: Watch your parentheses!**

In [ ]:
groceries = ["apples", "4", "milk", "5.9", "bread", "3", "wine", "15.5"]

In [ ]:
print(groceries[0], groceries[2], groceries[4], groceries[6])

In [ ]:
len(groceries)/2

In [ ]:
print("The total cost of the groceries is $",
      int(groceries[1]) +
      float(groceries[3]) +
      int( groceries[5]) +
      float(groceries[7]))