## **Demo 1: Hello World**
```

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
name = "Claudia"

In [ ]:
age = "32"

In [ ]:
print(name, "is", age, "years old")

Claudia is 32 years old

In [ ]:
print(last_name)

NameError: name 'last_name' is not defined

In [ ]:
print(last name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-10-04b152c056fa>, line 1)

In [ ]:
type(age)

str

In [ ]:
type(name)

str

In [ ]:
new_age = 55

In [ ]:
age = new_age

In [ ]:
print(age)

55

In [ ]:
type(age)

int

In [ ]:
name = input("What is your name? ")
print("Hello", name)

What is your name? Claudia
Hello Claudia

Exercise 1

In [ ]:
years = input("how many years have you worked at WashU? ")

department = input("what department do you work in? ")

print("Congratulations on working at the", department, "department at Wash U for", years, "years")

how many years have you worked at WashU? two
what department do you work in? data science
Congratulations on working at the data science department at Wash U for two years

## **Demo 2: Operators, Indices and Slices**

In [ ]:
3 + 5

8

In [ ]:
12 - 10

2

In [ ]:
2 * 10

20

In [ ]:
15 / 3

5.0

In [ ]:
# Modulus (remainder):
15 % 4

3

In [ ]:
3 ** 2

9

In [ ]:
15 // 7

2

In [ ]:
3+9*2

21

In [ ]:
# Math with variables

age = 32

future_age = age + 5

print(future_age)

37

In [ ]:
# Updating variables with operators

price = 7

price = price + 2

print(price)

9

In [ ]:
# Concatenating strings with operators

full_name = "James " + "Walsh"

print(full_name)

James Walsh

In [ ]:
# Converting variable types

num = "2"
type(num)

str

In [ ]:
x = int(num)
type(x)

int

In [ ]:
print(x)

2

In [ ]:
y = str(x)
type(y)

str

In [ ]:
a = float("12.0")
type(a)

float

In [ ]:
len(name)

7

In [ ]:
# Indices

#print(name[0])

print(name[-1])

a

In [ ]:
# Slices

print(name[0:3])

Cla

In [ ]:
# Lists

departments = ["music", "philosophy", "chemistry"]

In [ ]:
len(departments)

3

In [ ]:
print(departments[1])

philosophy

In [ ]:
departments_2 = departments + ["computer science"]

print(departments_2)

['music', 'philosophy', 'chemistry', 'computer science']

Exercise 2

In [ ]:
groceries = ["apples", "4", "milk", "5.9", "bread", "3", "wine", "15.5"]

In [ ]:
print(groceries[0], groceries[2], groceries[4], groceries[6])

apples milk bread wine

In [ ]:
len(groceries)/2

4.0

In [ ]:
print("The total cost of the groceries is $", int(groceries[1]) + float(groceries[3]) + int( groceries[5]) + float(groceries[7]))

The total cost of the groceries is $ 28.4